<div class="row text-right">
    <div class="col-12">
        <input type="submit" class="btn btn-success" value="Zapisz Kolejność" />
        <a asp-action="Index" class="btn btn-info">Wróć do Listy</a>

    </div>
</div>