@model Spice.Models.ViewModels.IndexViewModel

    <div class="background-white container mt-1" >

        <ul id="menu-filters" class="menu-filter-list list-inline text-center">
            <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">
                All
            </li>
            @foreach (var item in Model.Category.OrderBy(x => x.Order))
            {
                <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ", string.Empty)">
                    @item.Name
                </li>
            }
        </ul>
        @foreach (var item in Model.Category.OrderBy(x => x.Order))
        {
            <div class="row" id="menu-wrapper">
                <partial name="_ThumbnailAreaPartial" model="@Model.MenuItem.Where(x=>x.Category.Name == item.Name).OrderBy(x=>x.Order)" />
            </div>
        }
    </div>


    <div id='myModal' class='modal fade' tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
    @section Scripts {
        <script>
            var posts = $('.post');

            (function ($) {
                $("#menu-filters li").click(function () {
                    $('#menu-filters li').removeClass("active btn btn-secondary");
                    $(this).addClass("active btn btn-secondary");

                    var selectedFilter = $(this).data("filter");
                    $(".menu-restaurant").fadeOut();

                    setTimeout(function () {
                        $(selectedFilter).slideDown();

                    }, 300);
                });
            })(jQuery);

        </script>
        <script>
            var TeamDetailPostBackURL = 'Customer/Home/Details';
            $(function () {
                $(".itemDetail").click(function () {
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Please Log In first.");
                        }
                    });
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closebtn").click(function () {
                    $('#myModal').modal('hide');
                });

            });

        </script>

    }