@model Spice.Models.ViewModels.OrderDetailsSuccessViewModel

<br />
<div class="background-white">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-danger">Order Cancelled!</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">New Order</a>
        </div>
    </div>

    @if (Model.OrderHeader != null)
    {
        <div class="p-3">
            Your Order has been Cancelled!
        </div>
        <partial name="_IndividualOrderDetails" model="Model" />
    }
    else
    {
        <div class="text-danger">
            Something went wrong?!
        </div>
    }
</div> 