@model Spice.Models.ViewModels.MenuItemSubCategoryAndCategoryViewModel
@using Spice.Extensions
<br />
<h2 class="text-info">Add new Menu Item</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border background-white row">
    <div class="col-12">
        <form asp-action="Create" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    @Html.TextAreaFor(x => x.MenuItem.Description)
                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MenuItem.Price" type="number" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input type="file" name="files" multiple asp-for="MenuItem.Image" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Image" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItemModel.Espicy>()" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="CategoryId" asp-for="MenuItem.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="SubCategoryId" name="SubCategoryId" asp-for="MenuItem.SubCategoryId" asp-items="@(new SelectList(string.Empty, "Id","Name"))" class="form-control"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButtonPartial" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    tinymce.init({
        selector: '#MenuItem_Description',
        entity_encoding: "raw"
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        getSubCategory();
        $('#CategoryId').change(function () {
            getSubCategory();
        });
    });

    function getSubCategory() {
        var url = '@Url.Content("~/")' + 'Admin/SubCategory/GetSubCategories';
        var ddls = '#CategoryId';
        $.getJSON(url, { id: $(ddls).val() }, function (data) {
            var items = '';
            $('#SubCategoryId').empty();
            $.each(data, function (i, subcategory) {
                items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>"
            });

            $('#SubCategoryId').html(items);
        });

    }

    </script>
}
