@model Spice.Models.ViewModels.MenuItemSubCategoryAndCategoryViewModel
@using Spice.Extensions
<br />
<h2 class="text-info">Edit Menu Items</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form asp-action="Edit" autocomplete="off" enctype="multipart/form-data">
    <div class="border background-white row">
        <input type="hidden" asp-for="MenuItem.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(x => x.MenuItem.Description)
                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple asp-for="MenuItem.Price" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Image" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItemModel.Espicy>()" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="CategoryId" asp-for="MenuItem.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="SubCategoryId" name="SubCategoryId" asp-for="MenuItem.SubCategoryId" asp-items="@(new SelectList(string.Empty, "Id","Name"))" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="" alt="missing image" style="border-radius:5px;border: 1px solid #bbb9b9;" class="img-fluid" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_UpdateAndBackToListButtonPartial" model="Model.MenuItem.Id" />

            </div>
        </div>
    </div>

</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: '#MenuItem_Description',
            entity_encoding: "raw"
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        getSubCategory();
        $('#CategoryId').change(function () {
            getSubCategory();
        });
    });

    function getSubCategory() {
        var url = '@Url.Content("~/")' + 'Admin/SubCategory/GetSubCategories';
        var ddls = '#CategoryId';
        $.getJSON(url, { id: $(ddls).val() }, function (data) {
            var items = '';
            $('#SubCategoryId').empty();
            $.each(data, function (i, subcategory) {
                if (subcategory.value == @Model.MenuItem.SubCategoryId) {
                    items += "<option selected value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                } else {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                }
            });

            $('#SubCategoryId').html(items);
        });

    }

    </script>
}
